.vs/
x64/
x86/
Debug/
Release/
build/
build-*/
bin/
obj/
packages/
vcpkg_installed/
*.user
*.suo
*.VC.db
*.VC.opendb
*.tlog
*.log
*.pdb
*.ilk
*.idb
*.ncb
*.sdf
*.opensdf
*.ipch
*.exe
*.dll
*.lib
*.obj
*.o
*.a
*.so
*.dylib
*.gch
*.pch
*.d
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/
.cache/
*.tmp
*.bak
*.swp